@model Survey

<form method="post">

    <div class=" border p-3 mt-5">
        <div class="row pg-3">
            <h2 class="text-primary">Anket Sorusu Ekle</h2>
            </hr>
        </div>

        <div class="mb-3">
            <label asp-for="Name" class="p-0"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-lg btn-primary" style="width:250px">Anket Sorusu Ekle</button>

        <a asp-controller="Survey" asp-action="Index" class="btn btn-lg btn-primary" style="width:250">
            Anketlere Geri Dön
        </a>

    </div>  
  

</form>

